**/*.*~
# Ignores the temporary files made by Vim

Tutorials/git/*.png   
# Ignore all png files. This one does not appear to be working and I am nore sure why.
!Tutorials/git/final.png 
# Except for the one called final.png

Tutorials/git/log_*

**/*.csv 
# To ignore all files with ending csv anywhere in the directory

Tutorials/git/receipts/
